body {
	margin: 0;
	background-image: url("../img/fondo.png");
	background-position: center;

}

#contenedor {
	width: 90%;
	max-width: 960px;
	background: rgba(255, 255, 255, 0.90);
	padding: 1.5em;
	margin: 2em 0;
	border-radius: 0.9em;
	border: 0.2em solid #073040;
}