body {
	display: flex; /* Centro el contenedor */
	justify-content: center; 
	margin: 0;
	background-image: url("../img/fondo.png");
	background-position: center;

}

#contenedor {
	width: 90%;
	max-width: 960px;
	background: rgba(255, 255, 255, 0.90);
	padding: 1.5em;
	margin: 2em 0;
	border-radius: 0.9em;
	border: 0.2em solid #1E3A8A;
}

/* Menú horizontal y diseño de links */

nav {
	text-align: center;
	margin-bottom: 1.8em;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav li {
	display: inline-block;
	margin: 0.3em;
}

nav a {
	background-color: #93C5FD;
	padding: 0.5em;
	border-radius: 0.5em;
	border: 0.2em solid #1D4ED8;
	text-decoration: none;
	font-weight: bold;
}

nav a:hover {
	background-color: #3B82F6;
}

a:link {
	color: #1E3A8A;
}

a:visited {
	color: #374151;
}

a:hover {
	color: #DBEAFE;
}

a:active {
	color: #60A5FA;
}

/* Columnas de mismo tamaño */

#columnasGrandes {
	display: flex;
	gap: 1.5em;
}

#columnasGrandes section {
	flex: 1;
}

/* Columnas de diferente tamaño */

#columnasDiferentes {
	display: flex;
	gap: 1.5em;
}

.peque {
	flex: 1;
}

.grande {
	flex: 2;
}

header{
	background: #1D4ED8;
	color: white;
	padding:2em;
	text-align:center;
	border: 0.4em solid #BFDBFE;
	border-radius:10px 10px 0 0;
}

h1, h2, h3 {
	background-color: #BFDBFE;
	border: 0.1em solid #1E40AF;
	font-family: "Abel", sans-serif; /* Tipografía indicada, aplico también a mis destacados */
	text-align: center;
	padding: 0.4em;
	border-radius: 0.5em;
}

strong, em {
	font-family: "Abel", sans-serif;
}

footer {
	background: #1D4ED8;
	color: white;
	text-align: center;
	padding: 0.1em;
	border: 0.4em solid #BFDBFE;
	border-radius: 0.5em;
}

/* Datos curiosos */

.datoCurioso {
	background-color: #DBEAFE;
	border: 0.15em solid #1E40AF;
	border-radius: 0.6em;
	padding: 1em;
	margin-top: 1.5em;
	margin-bottom: 2em;
	text-align: center;
}

.datoCurioso p {
	min-height: 4.5em;
	color: #1E3A8A;
}

.datoCurioso button {
	padding: 0.6em 1em;
	background-color: #93C5FD;
	border: 0.15em solid #1D4ED8;
	border-radius: 0.5em;
	font-weight: bold;
	color: #1E3A8A;
	cursor: pointer;
}

.datoCurioso button:hover {
	background-color: #3B82F6;
	color: white;
}